* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* outline: 1px solid red !important;   */
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: .6rem;
    background: #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: .5rem;
}