<%- include("./components/header") %>
    <%- include("./components/navbar") %>
        <div class="px-4 py-5 my-5 text-center">
            <a href="/"><img class="d-block mx-auto mb-2" src="images/android-chrome-512x512.png" alt="stubby" width="72"
                height="57"></a>
            <h1 class="display-5 fw-bold">About Bitly - Our company</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Our tool to shorten links and then share them, in addition you can monitor traffic
                    statistics.</p>
            </div>
        </div>

        <div class="bg-dark text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white">Our Mission</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Our mission is to turn every link and scan into a catalyst for connections. We
                        are fiercely committed to our customers’ success. Our job is to ensure that our trusted
                        platform, performance, and people help customers achieve their goals.</p>
                </div>
            </div>
        </div>
        <%- include("./components/footerNavbar") %>
            <%- include("./components/footer") %>