<%- include("./components/header") %>
<%- include("./components/navbar") %>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <a href="/"><img class="d-block mx-auto mb-2" src="images/android-chrome-512x512.png" alt="stubby" width="102"
            height="87"></a>
        <h1 class="display-1 fw-bold">Stubby - URL Shortener</h1>
        <p class="fs-3"> <span class="text-danger">Stubby</span> is a url shortener to reduce a long link. </p>
        <p class="lead mx-2">
            Use our tool to shorten links and then share them, in addition you can monitor traffic statistics.
        </p>
        <a href="/login" class="btn btn-dark m-2">Login</a>
        <a href="/signup" class="btn btn-outline-dark m-2">Get Started!</a>
    </div>
</div>
<%- include("./components/footerNavbar") %>
<%- include("./components/footer") %>