<%- include("./components/header") %>
    <section class="w-100 vh-100 d-flex justify-content-center align-items-center">

        <form action="/login" method="POST" class="needs-validation p-5" novalidate  >
            <div>
                <a href="/"><img class="d-block mx-auto mb-2" src="images/android-chrome-512x512.png" alt="stubby" width="72"
                    height="57"></a>
            </div>
            <div class="mb-2 text-center">
                <h3>Login</h3>
            </div>
            <div class="form-group">
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com"
                        required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for Signup.
                    </div>
                </div>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" pattern=".{8,}" class="form-control" id="email" placeholder="Your Password"
                        required>
                    <div class="invalid-feedback">
                        Please enter a valid Password for Signup.
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between w-100 mt-3">
                <div><button type="submit" class="btn btn-dark">Login</button></div>
                <div><a class="btn btn-outline-dark" href="/signup" role="button">Signup</a></div>
            </div>
        </form>
    </section>
    <script src="javascript/form-validation.js"></script>

    <%- include("./components/footer") %>